
* {
    margin: 0;
    padding :0;
    vertical-align: middle;    
}

body {
	background-image: url("wallup-26163.jpg");
     background-size:cover;
    }

#all {
	background: #e8e7e7;
    margin :  150px auto;
/*	margin-top :  50px auto;*/
	width :  560px;
/*
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
*/
/*    box-shadow: 6px 6px 6px 6px rgba(6, 38, 27, 0.71)*/
    border: 2px solid #1d5660;
    
}

h1{
    background: #1d5660;
    color: white;
    margin: 0;
    padding: 10px 15px 10px 15px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

.fa-plus-square {
    float: right;
    color: #e8e7e7;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}
/* 
.inComplete{
    color: #0c272c;
}


.completed {
    color: darkgray;
    text-decoration: line-through;
}

 */
li {
    background: white;
    height: 40px;
/*    line-height: 40px;
    color: #e8e7e7;*/
    font-size: 20px;
    border-top: 2px solid #60868d;
    overflow: hidden;
}

/*
i #imp {
    float: right;
    font-weight: 16px
}
*/
::before {
    padding : 10px;
}

li:nth-child(even) {
    background: #e8e7e7;
}

input {
  font-size: 18px;
  background-color: #e8e7e7;
  width: 100%;
  padding: 5px 5px 5px 10px;
  box-sizing: border-box;
}

input:focus {
    background: white;
    border: 3px solid #1d5660;
    outline: none;
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
/*    overflow: hidden;*/
    background:  #1d5660;
    height: 30px;
    color:white;
}

.fa-times {
    
    background: #1d5660;
    height: 40px;
    width: 0;
    margin-right: 5px;
    text-align: center;
    color: white;
    display: inline-block ;
}


/* 
i::after{
    vertical-align: center;
}
 */

 .fa-times::before {

    color : white;
    font-size: 15px;
 }


.fa-thumbs-o-up {
    
    background: #1d5660;
    height: 40px;
    width: 0px;
    margin-left: 20px;
    text-align: center;
    color: #e8e7e7;
    display: inline-block;
    float: right;
    
}



#undo {
    float: right;
    height: 40px;
    /* width: 40px; */
}

.fa-refresh {
    float: left;
    height: 40px;
    /* width: 40px; */
}
.fa-angle-double-right {
    float: right;
    height: 40px;
   /*  width: 40px; */
}

.imp {
    float:right;
    font-size: 18px;
    margin-top: 7px;
}


footer {
    border-top: 4px solid #acacac;
    background: #1d5660;
    height: 42px;
}

#date {
    width: 50%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    position: fixed;
    top:20px;
    left : 300px ;
}

aside {
    width : 200px;
    float: left ;
    height: 100vh;
    background: #acacac;
    position: fixed;
    top: 0;
    left: -200px;
    border-right: 2px solid #1d5660;
}

ins {
    text-decoration :  none;
    display: block;
    width: 150px;
    padding: 10px; 
    margin-top: 20px;
    border: 1px solid #1d5660;
    box-shadow: 3px 3px 15px 5px ;
    background: #1d5660;
    color: #acacac;
}

/* #userName{
    padding-right: 40px ;
    padding-top: 5px ;
    padding-bottom:  5px ;
    position: fixed;
    top: 10px;
    z-index: 998;
    border-bottom-right-radius: 15px ;
    border-top-right-radius: 15px ;
    height: 30px;
}
 */

 nav {
    background: #1d5660 ;
    padding-right: 40px ;
    padding-top: 5px ;
    padding-bottom:  5px ;
    box-shadow: 3px 3px 15px 5px ;
    border-bottom-right-radius: 15px ;
    border-top-right-radius: 15px ;
    position: fixed;
    top: 10px;
    z-index: 999;
    height: 40px;
    width: 180px;
    color: #acacac;
}


nav span:not(.fa-cog) {
    background: none ;
    width: 20px;
    z-index: 999;
    height: 40px;
    color: #acacac;  
} 

/* 
.deletedMode {
    background: red !important;
}
 */
#sec {
    float: right;
    /* width : 150px; */
    height: 30px;
    padding: 5px;
/*     border: 1px solid red ;
 */}

.fa-bolt {
    padding: 0px;
/*     border: 1px solid red ;
 */    margin-bottom: 10px;
}

progress {
    height: 15px;
    margin-top: 0px;
    padding: 0px;
}


.modal-header {
    background: #acacac ;
}

#empty {
    display: block;
    /* color: red; */
    margin: 20px;
    text-align: center;
    border: 1px dashed red;
}


span.fa-cog::before{
    margin: 0 !important;
    display: inline-block;
    font-size: 2em;
    width: 1.28571429em;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
    padding : 0 !important;
}


/* 
li:hover i.fa-thumbs-o-up , li:hover i.fa-times {
    padding-top : 7px ;
    width: 40px;
    background: #1d5660;
}   */

 li:hover i{
    width: 40px;
    height: 40px;
    background: #1d5660;
  } 

